location                   = "eastus"
rg_name                    = "phone-list-rg"
acr_name                   = "phonelistacr"
image_tag                  = "latest"

postgres_server_name = "phone-list-db"
postgres_admin_password = "ChangeMe123!@#"
postgres_db_password    = "ChangeMe456!@#"

redis_name = "phonelist-redis"

key_vault_name = "phonelist-kv"
jwt_secret     = "your-secret-key-min-32-characters-long"
key_vault_sku  = "standard"

container_app_env_name = "phone-list-env"
backend_app_name       = "phone-list-api"
frontend_app_name      = "phone-list-web"
acr_api_repo           = "phone-list-api"
acr_web_repo           = "phone-list-web"

backend_cpu    = "0.5"
backend_memory = "1.0Gi"
frontend_cpu   = "0.25"
frontend_memory = "0.5Gi"
